<h1>All Events and Results</h1>

<table style="border-collapse:collapse;">
  <thead>
  <tr style="border-bottom:1px solid black;"> <!-- Column headings -->
    <th style="padding:5px;">Event</th>
    <th style="padding:5px;border-left:1px solid black;">Gold Winner</th>
    <th style="padding:5px;border-left:1px solid black;">Silver Winner</th>
    <th style="padding:5px;border-left:1px solid black;">Bronze Winner</th>
  </tr>
  </thead>

  <tbody>
    <% num = 1 %>
    <% @events.each do |e| %>
    <tr>
      <td style="padding:5px;"><%= e.type %></td>
      <td style="padding:5px;border-left:1px solid black;"><a href="athletes/<%= e.gold_athlete.id %>"><%= e.gold_athlete.name %></a> </td>
      <td style="padding:5px;border-left:1px solid black;"><a href="athletes/<%= e.silver_athlete.id %>"><%= e.silver_athlete %></td>
      <td style="padding:5px;border-left:1px solid black;"><a href="athletes/<%= e.bronze_athlete.id %>"><%= e.bronze_athlete %></td>
    </tr>
    <% end %>
  </tbody>

</table>