<h1>Log Event Results</h1>

<form action="/events" method="post">

  <label for="type">Event type:</label>
  <select name="type">

  <% @events.each do |e| %>
    <option value="type"><%= e.type %></option>
    <% end %>

  </select>

  <label for="type">Select Gold Winner</label>
  <select name="gold_winner">

    <option value="0">No Winner</option>
    <% @events.registered_athletes do |ra| %>
    <option value="<%= e.gold_winner %>"><%= ra.name %></option>
    <% end %>

  </select>

  <label for="type">Select Silver Winner</label>
  <select name="silver_winner">

    <option value="0">No Winner</option>
    <% @events.registered_athletes do |ra| %>
    <option value="<%= e.silver_winner %>"><%= ra.name %></option>
    <% end %>

  </select>  

  <label for="type">Select Bronze Winner</label>
  <select name="bronze_winner">

    <option value="0">No Winner</option>
    <% @events.registered_athletes do |ra| %>
    <option value="<%= e.bronze_winner %>"><%= ra.name %></option>
    <% end %>

  </select>

  <input type="submit" value="Submit results" />

</form>

 <!-- <label for="gold_winner">Gold Winner:</label>
  <select name="gold_winner">
    <option value="0">No Winner</option>
    <% @event.athletes.each do |athlete| %>
    <option value="<%= athlete.id %>" <%= "selected" if @event.gold_winner == athlete.id %>><%= athlete.full_name %></option>
    <% end %>
  </select> -->